<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Grial" value="http://nuget.uxdivers.com/grial" />
    <add key="syncfusion" value="http://nuget.syncfusion.com/nuget_xamarin/nuget/getsyncfusionpackages/xamarin" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <Grial>
      <add key="Username" value="yuriy@stinex.co.uk" />
      <add key="ClearTextPassword" value="7924655Qw" />
    </Grial>
  </packageSourceCredentials>
  <disabledPackageSources />
</configuration>