<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Grial" value="http://nuget.uxdivers.com/grial" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <MyPrivateFeed>
      <add key="Username" value="yuriy@stinex.co.uk" />
      <add key="ClearTextPassword" value="7924655Qw" />
    </MyPrivateFeed>
  </packageSourceCredentials>
</configuration>